<% provide(:title, 'Contact') %>
<h1>Call Me Maybe</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
<p>
  The very best way to contact the student is through Twitter @edupunkn00b or github @JaimeLynSchatz.
</p>