<% provide(:title, 'Help') %>
<h1>Help Page</h1>
<p>
  Yo yo yo, here's the super awesome phat fly help page from Michael Hartl's Ruby on Rails tutorial
</p>
<p>
  Get help on the Ruby on Rails Tutorial at the <a href="http://railstutorial.org/help">Rails Tutorial Help Page</a>
  To get help on this sample app, see the <a href="http://railstutorial.org/book">Rails Tutorial Book</a>
</p>
    